@model HomeUserViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<User> _sim;

@{
    ViewData["Title"] = "Home Page";
}

<div class="row mx-auto col-10">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2>Opcje</h2>
            </div>
            <div class="card-body">
                @if (_sim.IsSignedIn(User) && (User.IsInRole(Roles.Worker) || User.IsInRole(Roles.Admin)))
                {
                        <a class="btn btn-primary btn-block" asp-action="Withdrawal" asp-controller="Home">Wypłać pieniądze</a>
                        <a class="btn btn-primary btn-block" asp-action="AccountHistory" asp-controller="Home" asp-route-id="@Model.Id">Historia konta</a>
                }
                <a class="btn btn-primary btn-block" asp-action="Password" asp-controller="Home">Zmień hasło</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2>Twoje konto</h2>
            </div>
            <div class="card-body p-0">
                <table class="table table-borderless table-striped m-0" style="table-layout:fixed;">
                    <tbody>
                        <tr>
                            <td>Imię</td>
                            <td>@Model.FirstName</td>
                        </tr>
                        <tr>
                            <td>Nazwisko</td>
                            <td>@Model.LastName</td>
                        </tr>
                        <tr>
                            <td>Grupa</td>
                            <td>@Model.Group</td>
                        </tr>
                        <tr>
                            <td>Stanowisko</td>
                            <td>@Model.Position</td>
                        </tr>
                        <tr>
                            <td>Czas przepracowany</td>
                            <td>@Model.TimeWorked</td>
                        </tr>
                        <tr>
                            <td>Saldo</td>
                            <td>@Model.Balance</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
