@model MVC_FirstApp.Models.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}
<div style="width:500px; margin:auto">
    <h2>Edytuj użytkownika</h2><br />
    <form method="post">
        <div class="form-group">
            <label asp-for="Id"></label>
            <input disabled asp-for="Id" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input disabled asp-for="UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Group"></label>
            <select class="custom-select" asp-for="Group">
                <option value="@GroupEnum.None">brak grupy</option>
                <option value="@GroupEnum.GroupA">Grupa A</option>
                <option value="@GroupEnum.GroupB">Grupa B</option>
                <option value="@GroupEnum.GroupC">Grupa C</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Position"></label>
            <select class="custom-select" asp-for="Position">
                <option value="@PositionEnum.None">brak stanowiska</option>
                <option value="@PositionEnum.WarehouseWorker">Pracownik magazynu</option>
                <option value="@PositionEnum.TeamLeader">Kierownik</option>
            </select>
        </div>
        <div asp-validation-summary="All"></div>
        <span class="btn-group-toggle">
            <button type="submit" class="btn btn-success">Zapisz</button>
            <a class="btn btn-secondary" asp-controller="Group" asp-action="Index">Cofnij</a>
            <a class="btn btn-danger float-right" asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
        </span>
    </form>
</div>