@model MVC_FirstApp.Models.ViewModels.HomeUserViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _sim;

@{
    ViewData["Title"] = "Home Page";
}

<div class="row mx-auto col-10">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2>Opcje</h2>
            </div>
            <div class="card-body">
                @if (_sim.IsSignedIn(User) && (User.IsInRole("Pracownik") || User.IsInRole("Administrator")))
                {
                    <a class="btn btn-primary btn-block" asp-action="Withdrawal" asp-controller="Home">Wypłać pieniądze</a>
                    <a class="btn btn-primary btn-block" asp-action="AccountHistory" asp-controller="Home" asp-route-id="@Model.Id">Historia konta</a>
                }
                <a class="btn btn-primary btn-block" asp-action="Password" asp-controller="Home" asp-route-id="@Model.Id">Zmień hasło</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2>Twoje konto</h2>
            </div>
            <div class="card-body p-0">
                <table class="table table-borderless table-striped m-0" style="table-layout:fixed;">
                    <tbody>
                        <tr>
                            <td>Imię</td>
                            <td>@Model.FirstName</td>
                        </tr>
                        <tr>
                            <td>Nazwisko</td>
                            <td>@Model.LastName</td>
                        </tr>
                        <tr>
                            <td>Grupa</td>
                            @switch (Model.Group)
                            {
                                case Group.None:
                                    <td>brak</td>
                                    break;
                                case Group.GroupA:
                                    <td>Grupa A</td>
                                    break;
                                case Group.GroupB:
                                    <td>Grupa B</td>
                                    break;
                                case Group.GroupC:
                                    <td>Grupa C</td>
                                    break;
                            }
                        </tr>
                        <tr>
                            <td>Stanowisko</td>
                            @switch (Model.Position)
                            {
                                case Position.None:
                                    <td>brak</td>
                                    break;
                                case Position.WarehouseWorker:
                                    <td>Magazynier</td>
                                    break;
                                case Position.TeamLeader:
                                    <td>Kierownik</td>
                                    break;
                            }
                        </tr>
                        <tr>
                            <td>Czas przepracowany</td>
                            <td>@Model.HoursMinutesWorked</td>
                        </tr>
                        <tr>
                            <td>Saldo</td>
                            <td>@Model.Balance</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
