@model UserHoursViewModel

@{
    ViewData["Title"] = "EditHours";
}

<form method="post">
    <div class="card mx-auto col-6 p-0">
        <div class="card-header">
            <h2>Wybierz użytkowników</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Users.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.Users[i].UserId" />
                    <input asp-for="@Model.Users[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.Users[i].IsSelected">
                        @Model.Users[i].FullName
                        <input type="hidden" asp-for="@Model.Users[i].FullName" />
                    </label>
                </div>
            }
        </div>
        <div class="card-header border-top">
            <h2>Czas pracy</h2>
        </div>
        <div class="card-body pb-0">
            <div class="form-row">
                <div class="col pr-0 col-3">
                    <div class="input-group">
                        <input asp-for="HoursToEdit" class="form-control">
                        <div class="input-group-append">
                            <div class="input-group-text">h</div>
                        </div>
                    </div>
                </div>
                <div class="col pl-0 col-3">
                    <div class="input-group">
                        <input asp-for="MinutesToEdit" class="form-control">
                        <div class="input-group-append">
                            <div class="input-group-text">min.</div>
                        </div>
                    </div>
                </div>
            <div class="row m-auto">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-success px-3 active">
                        <input checked="checked" type="radio" asp-for="WorkTimeOperation" value="@WorkTimeOperation.Add"> Dodaj
                    </label>
                    <label class="btn btn-danger">
                        <input type="radio" asp-for="WorkTimeOperation" value="@WorkTimeOperation.Substract">Odejmij
                    </label>
                </div>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger mt-3"></div>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" type="submit" style="width:auto">Zapisz</button>
            <a class="btn btn-secondary float-right" asp-action="Index" asp-controller="Group" style="width:auto">Powrót</a>
        </div>
    </div>
</form>