@model IEnumerable<GroupListViewModel>
@inject Microsoft.AspNetCore.Identity.SignInManager<User> _sim;

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/group.css" />

<div asp-validation-summary="All">
</div>

<div class="page">
    @foreach (var group in Model)
    {
        <div class="card pb-0 mb-4">
            <div class="card-header">
                <h3 class="mb-0 btn-group">@group.GroupDetails.Name</h3>
                @if (_sim.IsSignedIn(User) && User.IsInRole(Roles.Admin) && group.GroupDetails.Id != 0)
                {
                    <div class="float-right">
                        <span onclick="showGroupRenameForm(@group.GroupDetails.Id)" id="renameSpan_@group.GroupDetails.Id" class="btn btn-info">Zmień nazwę</span>
                        <div id="groupRenameForm_@group.GroupDetails.Id" style="display:none">
                            @using (Html.BeginForm("RenameGroup", "Group", FormMethod.Post))
                            {
                                <input name="newName" class="form-control" placeholder="Nowa nazwa grupy" />
                                <input name="id" hidden="hidden" value="@group.GroupDetails.Id" />
                                <button class="btn btn-success">Zamień nazwę</button>
                            }
                        </div>
                        <a asp-action="DeleteGroup" asp-controller="Group" asp-route-id="@group.GroupDetails.Id" class="btn btn-danger">Usuń grupę</a>
                        <a class="btn btn-secondary" asp-controller="Group" asp-action="EditHours" asp-route-groupId="@group.GroupDetails.Id">Zmień godziny pracy grupy</a>
                    </div>
                }
            </div>
            <div class="card-body px-0 pt-0 pb-0">
                <table class="table table-sm table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="counter" scope="col">#</th>
                            <th scope="col">Imię</th>
                            <th scope="col">Nazwisko</th>
                            <th scope="col">Stanowisko</th>
                            @if (_sim.IsSignedIn(User) && User.IsInRole(Roles.Admin))
                            {
                                <th scope="col">Przepracowane</th>
                                <th scope="col">Stawka [zł/h]</th>
                                <th scope="col"></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int row = 1;
                            foreach (var user in group.UsersInGroup)
                            {
                                <tr>
                                    <th scope="row">@row</th>
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                    <td>@user.PositionName</td>
                                    @if (_sim.IsSignedIn(User) && User.IsInRole(Roles.Admin))
                                    {
                                        <td>@user.TimeWorked</td>
                                        <td>@user.HourlyPay</td>
                                        <td>
                                            <a class="btn btn-secondary btn-sm"
                               asp-controller="Administration"
                               asp-action="@nameof(AdministrationController.EditUser)"
                               asp-route-id="@user.Id">Edytuj</a>
                                        </td>
                                    }
                                </tr>
                                row++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

@if (_sim.IsSignedIn(User) && User.IsInRole(Roles.Admin))
{
    @section footer
    {
<footer class="border-top footer text-muted">
    <div class="container col-md-6">
        @using (Html.BeginForm("AddGroup", "Group", FormMethod.Post))
        {
        <div class="input-group mt-2">
            <input name="name" class="form-control" placeholder="Nazwa grupy" />
            <button class="btn btn-success">Dodaj nową grupę</button>
        </div>
        }
        <a asp-action="AddMoney" asp-controller="Group" class="btn btn-info btn-block my-3">Wypłać pieniądze za godziny pracy użytkowników</a>
    </div>
</footer>
    }
}