@page "/development"
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>Development</PageTitle>

<div class="mt-3">
    <button class="pa-2 primary">mud blazor -> css ".primary"</button>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small">Mud primary</MudButton>
    <br />
    <button class="pa-2 secondary">mud blazor -> css ".secondary"</button>
    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Small">Mud secondary</MudButton>
</div>


<div class="mt-3">
    <h2>Roles</h2>
    <ul>
        <li><b>Logged in: </b><AuthorizeView> true</AuthorizeView></li>
        <li><b>Employee role: </b><AuthorizeView Roles="@Roles.Employee"> true</AuthorizeView></li>
        <li><b>Supervisor role: </b><AuthorizeView Roles="@Roles.Supervisor"> true</AuthorizeView></li>
        <li><b>Admin role: </b><AuthorizeView Roles="@Roles.Admin"> true</AuthorizeView></li>
    </ul>
</div>

<div class="mt-3">
    <h2>Claims</h2>
    <AuthorizeView>
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li><b>@claim.Type</b>: @claim.Value</li>
            }
        </ul>
    </AuthorizeView>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await GetClaimsPrincipalData();
    }

    private async Task GetClaimsPrincipalData()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var x = user.FindFirst(c => c.Type == "sub")?.Value;
        }
    }
}